<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <script src="/vendor/jquery-3.1.1.min.js"></script>
    <script src="index.js"></script>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
  </head>
  <div class="container">
    <div class="doc" id="hours">
        <div class="digit">0</div>
        <div class="digit">0</div>
    </div>
    <div class="doc" id="mins">
        <div class="digit">0</div>
        <div class="digit">0</div>
    </div>
    <div class="doc" id="sec">
        <div class="digit">0</div>
        <div class="digit">0</div>
    </div>
  </div>
  <div class="glassOverLay">&nbsp;</div>
</html>
